<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\bin\Debug\net5.0\ParkingManagement.WebClient.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout"/>
    </system.webServer>
  </location>
  <system.web>
    <identity impersonate="false" />
  </system.web>
  <!--<system.webServer>
        <httpRedirect enabled="false" destination="https://parking-cluj.t-bx.com" />
    </system.webServer>-->
</configuration>
<!--ProjectGuid: ae073c6b-ebb6-49a6-99f4-11778d423325-->